*{
    margin:0;padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #252525!important;
}

.navbar{
    background-color: #121212!important;
}

.row28{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row28 .col28{
    width: 25%;
    display: flex; 

    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.row28 .col28 a{
    background: rgb(163,171,211);
    background: linear-gradient(90deg, rgba(163,171,211,1) 22%, rgba(0,69,113,1) 77%);
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 10px; 
    display: flex;
}

.search{
    background: rgb(163,171,211);
    background: linear-gradient(90deg, rgba(163,171,211,1) 22%, rgba(0,69,113,1) 77%);
    border: 0px;
}

.search:hover{
    background: rgb(87,91,110);
    background: linear-gradient(90deg, rgba(87,91,110,1) 0%, rgba(0,156,255,1) 97%);
    border: 0px;
    color: gray;
    transition: ease-in-out all .4s;
}





.loader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.loader img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10%;
    transform: translate(-50%,-50%);
}


.loader.loaded{
    display: none;
} 